<!doctype html>
<html>
<head>
    <title>FooChoi</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
</head>

<body id="allergiesPage">

        <h3>What are you allergies?</h3>

        <form class="" action="index.html" method="post">
          <button type="button" name="button">Cow Milk</button>
          <button type="button" name="button">Eggs</button>
          <button type="button" name="button">Tree Nuts</button>
          <button type="button" name="button">Peanuts</button>
          <button type="button" name="button">Shellfish</button>
          <button type="button" name="button">Wheat</button>
          <button type="button" name="button">Soy</button>
          <button type="button" name="button">Fish</button>
          <input type="text" name="" value="" placeholder="Other">
          <button type="submit" name="button">Submit Allergies</button>
        </form>

        <form class="" action="index.html" method="post">
          <select class="allergyOptions" name="foods">
            <option value="">Cow Milk</option>
            <option value="">Eggs</option>
            <option value="">Tree Nuts</option>
          </select>
        </form>

        <nav>
          <a href="#">Cow Milk</a>
          <a href="#">Eggs</a>
          <a href="#">Tree Nuts</a>
        </nav>

        <form class="foodsToSubmit" action="index.html" method="post">

          <input type="checkbox" name="" value="">
          <label for="checkbox">Cow Milk</label>
          <input type="checkbox" name="" value="">
          <label for="checkbox">Eggs</label>
          <input type="checkbox" name="" value="">
          <label for="checkbox">Peanuts</label>
          <input type="checkbox" name="" value="">
          <label for="checkbox">Shellfish</label>
          <input type="checkbox" name="" value="">
          <label for="checkbox">Wheat</label>
          <input type="checkbox" name="" value="">
          <label for="checkbox">Soy</label>
          <input type="checkbox" name="" value="">
          <label for="checkbox">Fish</label>
          <button type="submit" name="button">Submit Allergies</button>

        </form>

<!-- **Potential solution: for allergens
      hard string values for each catergory / drop down selection.
      not minor technical issue, it's regarding the whole concept of the project. -->

    <script src="/main.js"></script>

</body>

</html>
