<!doctype html>
<html>
<head>
    <title>FooChoi</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>

<body id="ingredientPage">

    <h3>What is the cuisine you enjoy eating the most?</h3>

      <form class="" action="index.html" method="post">
        <a href="#"><img src="img/japanese.jpg" alt="japense food" value="noodle"></a>
        <%# if user clicks an image of japanese food ---> 10 ingredients that are most likely japanese %>
        <a href="#"><img src="mexican.jpg" alt="mexican food" value = "tomato"></a>
        <%# avocado, tomato, corn %>
        <a href="#"><img src=thai.jpg"" alt="thai food" value = "peanut"></a>
        <%# peanut, noodles, peppers  %>
        <button type="submit" name="cuisineButton">Submit</button>
      </form>

<%# //specific content, for specific users %>

        <%# // allergens ejs page EJS

        input box
          -- type in the allergens
          - wheat and dairy

        //foods you don't liked EJS %>

        <section> // click on the cuisines less likely to eat?
          <img src="" alt=" Mediterranean food"> // if user clicks an image of japanese food ---> 10 ingredients that are most likely japanese
          <img src="" alt=" food"> // avocado, tomato, corn
          <img src="" alt="thai food">  //
        </section>

      --> // Profile page

      Ingredients you like to eat  //  Ingredients you don't like to eat // Allergies //
          -- could edit their generated lists

      ---> What restaurant are you at ?
              menu <----------
              ingredients <--------
              recipe searches <--------

              for example: shrimp campi - wheat pasta... /

              limit on restaurants that can work.

            --> How can you make the computer recognize that bagel, muffin, pasta has wheat ingredient in it? example: dairy too
          --> What to do with the limitation to the restaurant menus? for example: hard code 5-10 restaurants?
        -->

        **Potential solution: for allergens
          --> hard string values for each catergory / drop down selection.
          not minor technical issue, it's regarding the whole concept of the project.



        allow the user to edit their "liked-ingredients"
          avocado, tomato, corn.

        edit - deleting corn

        user profilePage






        <script src="main.js"></script>

</body>

</html>
