<!doctype html>
<html>
<head>
    <title>FooChoi</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
</head>

<body id="cuisinesPage">

  <section class="opBox"></section>

  <section class="mainBoxTwo">

    <div class="page-header text-center">
      <h1><span><i class="fas fa-utensils"></i></span> What do you wish to eat?</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>


    <h3>Choose cuisine</h3>

      <section class="tiles">

      <section class="innerTiles"><a href="/recipes/japanese"><img src="../img/japanese.jpg" alt="japense food" value="Japan"><span class="cuisineTitle">Japanese</span></a></section>
      <section class="innerTiles"><a href="/recipes/mexican"><img src="../img/mexican.jpg" alt="mexican food" value = "Mexican"><span class="cuisineTitle">Mexican</span></a></section>
      <section class="innerTiles"><a href="/recipes/thai"><img src="../img/thai.jpg" alt="thai food" value = "Thai"><span class="cuisineTitle">Thai</span></a></section>
      <section class="innerTiles"><a href="/recipes/canadian"><img src="../img/canadian.jpg" alt="canadian food" value = "Canadian"><span class="cuisineTitle">Canadian</span></a></section>
      <section class="innerTiles"><a href="/recipes/chinese"><img src="../img/chinese.jpg" alt="chinese food" value = "Chinese"><span class="cuisineTitle">Chinese</span></a></section>
      <section class="innerTiles"><a href="/recipes/italian"><img src="../img/italian.jpg" alt="italian food" value = "Italian"><span class="cuisineTitle">Italian</span></a></section>
      <section class="innerTiles"><a href="/recipes/american"><img src="../img/american.jpg" alt="american food" value = "American"><span class="cuisineTitle">American</span></a></section>
      <section class="innerTiles"><a href="/recipes/indian"><img src="../img/indian.jpg" alt="indian food" value = "Indian"><span class="cuisineTitle">Indian</span></a></section>
      <section class="innerTiles"><a href="/recipes/spanish"><img src="../img/spanish.jpg" alt="spanish food" value = "Spanish"><span class="cuisineTitle">Spanish</span></a></section>

    </section>


  <script src="/main.js"></script>

</body>

</html>
