<!-- what are favorites topics?
automatic pre generated list of food items people would potential like?
ingredients the user most likely likes option 9 different, only choose 3 -->

<!-- specific content, for specific users

         allergens ejs page EJS

        input box
          -- type in the allergens
          - wheat and dairy

      foods you don't liked EJS -->

<!--
 Profile page

Ingredients you like to eat  //  Ingredients you don't like to eat // Allergies //
    -- could edit their generated lists

What restaurant are you at ?
        menu <----------
        ingredients <--------
        recipe searches <--------

        for example: shrimp campi - wheat pasta... /

        limit on restaurants that can work.

      How can you make the computer recognize that bagel, muffin, pasta has wheat ingredient in it? example: dairy too
   What to do with the limitation to the restaurant menus? for example: hard code 5-10 restaurants?


  **Potential solution: for allergens
   hard string values for each catergory / drop down selection.
    not minor technical issue, it's regarding the whole concept of the project.



  allow the user to edit their "liked-ingredients"
    avocado, tomato, corn.

  edit - deleting corn

  user profilePage
 -->
