<!doctype html>
<html>
<head>
  <title>FooChoi</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>
<body id="profilePage">
  <div class="container">

    <div class="page-header text-center">
      <h1><span><i class="fas fa-utensils"></i></span>Homepage</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
      ​

      <!-- ************Local Information************** -->
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> <%= user.local.username %></h3>
        </div>
      </div>

      <div class="col-sm-6">
          <h2>Add an allergy</h2>
          <% if (user.local.email) { %>
            <form action="/foods" method="POST">
              <input type="text" placeholder="Foods for Allergies" name="ingredient"> <!-- name must be correct to avoid null values into the database -->
              <button type="submit">Submit</button>
            </form>
          </div>
          <% } %>
        </div>

    <div class="row">
      <div class="col-sm-6">
        <!-- <h2>User Profile Allergens</h2> -->
        <ul>
          <% for(var i=0; i < foods.length; i++) {%>
            <li class="food">
              <a href="/foods/<%= foods[i] %>">
                <span><%= foods[i] %></span>
                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>

          <!-- <div class="col-sm-6">
            <h3>What type of cuisine do you want to eat today?</h3>
            <form class="" action="" method="POST">
              <a href="/recipes/:id"><img src="img/japanese.jpg" alt="">Japanese</a>
              <a href="#"><img src="img/mexican.jpg" alt="">Mexican</a>
              <a href="#"><img src="img/thai.jpg" alt="">Thai</a>
            </form>
          </div> -->


  <script src="main.js"></script>
      <!-- <script src="profile.js"></script> -->

    </body>
    </html>
