<!doctype html>
<html>
<head>
  <title>FooChoi</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
</head>

<body id="profilePage">

    <section class="opBox"></section>

    <section class="profileMainBox">

    <div class="page-header text-center">
      <h1><span><i class="fas fa-utensils"></i></span> Welcome <%= user.local.username %></h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

      ​
      <!-- ************Local Information************** -->

      <div class="col-sm-6">
          <h2 class="questionAllergies">What are you allergic to?</h2>
          <% if (user.local.email) { %>
            <form>
              <input type="text" placeholder="Foods for Allergies" id="ingredient"> <!-- name must be correct to avoid null values into the database -->
              <button class='btn-ingredient ' type="submit">Submit</button>
            </form>
          </div>
          <% } %>


      <div class="col-sm-6">
          <h2>Let us find a cuisine</h2>
          <a href="/cuisines"><button type="button ">Click Here</button></a>
        </div>

      <div class="col-sm-6">
        <h2>Your Allergens</h2>
        <ul>
          <% for(var i=0; i < foods.length; i++) {%>
            <li class="food">
              <a href="/foods/<%= foods[i] %>">
                <span><%= foods[i] %></span></a>
                <span class="trashIcon"><i id='<%= foods[i]._id %>' class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
            <% } %>
          </ul>
        </div>

    </section>


  <script src="/main.js"></script>

    </body>
    </html>
