<!doctype html>
<html>
<head>
    <title>FooChoi</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>

<body id="recipesPage">

    <h3>Choose cuisine</h3>

      <a href="/recipes/japanese"><img src="../img/japanese.jpg" alt="japense food" value="Japan"></a>
      <!-- if user clicks an image of japanese food , 10 ingredients that are most likely japanese -->
      <a href="/recipes/mexican"><img src="../img/mexican.jpg" alt="mexican food" value = "Mexican"></a>
       <!-- avocado, tomato, corn -->
      <a href="/recipes/thai"><img src="../img/thai.jpg" alt="thai food" value = "Thai"></a>
       <!-- peanut, noodles, peppers  -->

        <section> // click on the cuisines less likely to eat?
          <img src="" alt=" Mediterranean food"> // if user clicks an image of japanese food ---> 10 ingredients that are most likely japanese
          <img src="" alt=" food"> // avocado, tomato, corn
          <img src="" alt="thai food">  //
        </section>

        <script src="main.js"></script>

</body>

</html>
