<!doctype html>
<html>
<head>
  <title>FooChoi</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
</head>

<body id="showDishes">

  <section class="opBox"></section>

  <section class="mainBoxTwo">

    <div class="page-header text-center">
      <h1><span><i class="fas fa-utensils"></i></span> Which dish do you wish to try?</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <!-- ************Bottom Information************** -->

  <div class="col-sm-6">
    <ul>
      <h2>Choose a Dish</h2>
      <% for(var i=0; i < meals.length; i++) {%>
        <li class="meals">
          <a href="/meal/<%= meals[i].idMeal %>">
            <span><%= meals[i].strMeal %></span>
          </a>
        </li>
        <% } %>
    </ul>
  </div>
</section>

    <script src="/main.js"></script>

  </body>

  </html>
